#wrap {
  width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width:640px) {
  #wrap {
    width: 640px;
  }
}
#wrap > header {
  width: 100%;
  margin: 0 auto;
  height: 400px;
  position: relative;
}
@media screen and (max-width:640px) {
  #wrap > header {
    width: 640px;
  }
}
#wrap > header > p {
  position: absolute;
  left: 41%;
  top: 0%;
  width: 300px;
  height: 250px;
  text-indent: -9999px;
  background-image: url(./../images/logo.png);
  background-size: 300px 250px;
  background-repeat: no-repeat;
}
@media screen and (max-width:640px) {
  #wrap > header > p {
    left: 33%;
    top: 5%;
    width: 200px;
    height: 150px;
    background-size: 200px 150px;
  }
}
#wrap > header > p > a {
  display: block;
  height: 150px;
}
#wrap > header > nav {
  width: 100%;
  position: absolute;
  top: 60%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #000;
  height: 100px;
}
#wrap > header > nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
@media screen and (max-width:640px) {
  #wrap > header > nav {
    width: 640px;
    top: 50%;
  }
}
#wrap > header > nav > .gnb {
  display: flex;
  position: absolute;
  left: 28.3%;
}
@media screen and (max-width:640px) {
  #wrap > header > nav > .gnb {
    width: 640px;
    left: 0%;
  }
}
#wrap > header > nav > .gnb > li {
  width: 200px;
  height: 80px;
  margin-left: 50px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width:640px) {
  #wrap > header > nav > .gnb > li {
    margin: 5px;
  }
}
#wrap > header > nav > .gnb > li:hover {
  font-weight: 800;
  border-bottom: 3px solid #fff;
}
#wrap > header > nav > .gnb > li > a {
  display: block;
  height: 100px;
  color: #fff;
}
#wrap > section {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  border: 1px solid gray;
}
@media screen and (max-width:640px) {
  #wrap > section {
    width: 640px;
    margin: 0 auto;
  }
}
#wrap > section > .list_1 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #dedede;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_1 {
    width: 600px;
  }
}
#wrap > section > .list_1 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_1 > a {
  display: block;
}
#wrap > section > .list_2 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #dedede;
  text-indent: -9999px;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 {
    width: 600px;
  }
}
#wrap > section > .list_2 > li:nth-child(1) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_1.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(1) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(2) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_2.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(2) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(3) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_3.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(3) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(4) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_4.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(4) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(5) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_5.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(5) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(6) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_6.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(6) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(7) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_7.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(7) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(8) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_8.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(8) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(9) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_9.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(9) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(10) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_bundang.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(10) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(11) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_Sinbundang.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(11) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(12) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_Air.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(12) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(13) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_Kung2.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(13) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(14) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_Kung3.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(14) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(15) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_Kung.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(15) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:nth-child(16) {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-image: url(./../images/line_suhe.png);
}
@media screen and (max-width:640px) {
  #wrap > section > .list_2 > li:nth-child(16) {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-size: 30px 30px;
  }
}
#wrap > section > .list_2 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_2 > li > a {
  display: block;
  height: 50px;
}
#wrap > section > .list_3 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #dedede;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_3 {
    width: 600px;
    font-size: 17px;
  }
}
#wrap > section > .list_3 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_3 > a {
  display: block;
}
#wrap > section > .list_4 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #dedede;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_4 {
    width: 600px;
  }
}
#wrap > section > .list_4 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_4 > a {
  display: block;
}
#wrap > section > .list_5 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #dedede;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_5 {
    width: 600px;
  }
}
#wrap > section > .list_5 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_5 > a {
  display: block;
}
#wrap > section > .list_6 {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #dedede;
}
@media screen and (max-width:640px) {
  #wrap > section > .list_6 {
    width: 600px;
  }
}
#wrap > section > .list_6 > li:hover {
  text-decoration: underline;
}
#wrap > section > .list_6 > a {
  display: block;
}
#wrap > footer {
  width: 1920px;
  height: 200px;
  padding-top: -100px;
  margin: 0 auto;
  background-color: #222222;
  margin-top: 50px;
  position: relative;
}
@media screen and (max-width:640px) {
  #wrap > footer {
    width: 640px;
    height: 200px;
  }
}
#wrap > footer > .footer-logo {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 140px;
  height: 100px;
  text-indent: -9999px;
  background-size: 140px 100px;
  background-image: url(./../images/logo.png);
}
@media screen and (max-width:640px) {
  #wrap > footer > .footer-logo {
    left: 5%;
  }
}
#wrap > footer > .footer-logo > a {
  display: block;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}
#wrap > footer > address {
  position: absolute;
  left: 30%;
  top: 20%;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
}
@media screen and (max-width:640px) {
  #wrap > footer > address {
    left: 30%;
    font-size: 13px;
  }
}
#wrap > footer > address > a {
  color: #fff;
}
#wrap > footer > .sns-logo {
  position: absolute;
  right: 20%;
  top: 20%;
  display: flex;
}
@media screen and (max-width:640px) {
  #wrap > footer > .sns-logo {
    right: 10%;
    top: 50%;
  }
}
#wrap > footer > .sns-logo > li {
  margin-left: 20px;
}
#wrap > footer > .sns-logo > li > a {
  display: block;
  width: 30px;
  height: 30px;
}
#wrap > footer > .sns-logo > li > a > i {
  font-size: 30px;
  color: #fff;
}
#wrap > .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2%;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #000;
}
#wrap > .underbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2%;
  top: 92%;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background-color: #000;
  z-index: 100;
}
@media screen and (max-width:640px) {
  #wrap > .underbar {
    top: 91.5%;
  }
}/*# sourceMappingURL=하이퍼링크.css.map */