<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신서울공작창_홈소개</title>
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
		/>
    <link rel="stylesheet" href="/resources//css/reset.css">
    <link rel="stylesheet" href="/resources//css/style.css">
    <script src="/resources//js/jquery-1.12.4.min.js"></script>
    <script defer src="/resources//js/function.js"></script>
    <style>
        
    table {
      /* 셀의 이중선 제거 */
      border-collapse: collapse;
    }

    td {
      width: 150px;
      height: 30px;
      border: 1px solid #000;

      /* 셀 안에서 세로 정렬 - middle이 기본값 */
      vertical-align: top;
      vertical-align: bottom;
      vertical-align: middle;

      text-align: center;
      font-size: 17px;
      font-weight: 500;
    }

    hr {
      margin: 50px 0;
    }
    </style>
</head>
<body>
    <div id="wrap">
        <header>
            <h1 class="sr-only">New Seoul Train</h1>
            <p class="logo"><a href="신서울%20공작창.html">Logo</a></p>

            <nav class="pc_menu">
                <ul class="menu_btn">
                    <li><a href="하이퍼링크.html" target="_blank">철도 도트</a></li>
                    <li><a href="공지사항.html" target="_blank">공지 사항</a></li>
                    <li><a href="./홈소개.html" target="_blank">홈소개</a></li>
                    <li><a href="제작%20문의.html" target="_blank">제작 문의</a></li>
                </ul>
            </nav>

    <div id="page">		
                <div id="toggle">
                    <div class="bar"></div>
                </div>
    
        <section id="overlay">
        <nav>
            <ul class="gnb">
                <li><a href="하이퍼링크.html" target="_blank">철도 도트</a></li>
                <li><a href="공지사항.html" target="_blank">공지 사항</a></li>
                <li><a href="./홈소개.html" target="_blank">홈소개</a></li>
                <li><a href="제작%20문의.html" target="_blank">제작 문의</a></li>
            </ul>
        </nav>
        </section>
    </div>
        </header>

    <section class="home">
        <h2>홈페이지 소개</h2>

        <img src="/resources//images/slides1.png" alt="#">
        <p>
            - 메뉴 안내 <br>
            초기화면 : Train House 접속 시 연결되는 화면 / 공지사항과 탑승일지, 웰페이퍼 수록 <br>
            기차 CG : 실제로 다니는 철도 차량을 가상 2D 그래픽으로 측면 기준으로 제작 된 그래픽을 수록한 페이지 <br>
            철도 정보 : <br>
            관련 사이트 : <br>
            커뮤니티 : <br>
            홈소개 : <br>
        </p>
    </section>

    <section class="introduce">
        <h2>운영자 소개</h2>
        <div>
            <img src="/resources//images/intro.png" alt="#">
            <p>
              김진운입니다. <br>
              철도 도트를 게시하는 홈페이지입니다. <br>
              텍스트가 들어갑니다. <br>
              텍스트가 들어갑니다. <br>
              텍스트가 들어갑니다. <br>
              텍스트가 들어갑니다. <br>
              텍스트가 들어갑니다. <br>
          </p>
        </div>
    </section>

    <footer>
        <p class="footer-logo"><a href="#">Logo</a></p>
        <address>
            <br>
            &copy; 2023 ALL RIGHTS RESERVED By 김진운 <br>
            &copy; Design & Publishing By 이은규 | Developed By 이태랑
        </address>

        <ul class="sns-logo">
            <li>
                <a href="https://blog.naver.com/gray8501" target="_blank"><p>blog</p></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
    </footer>

        <aside class="topbar">
            <p>
                <a href="#"><img src="/resources//images/go-to-top.png" alt="#" /></a>
            </p>
        </aside>

        <aside class="underbar">
            <p>
                <a href="#"><img src="/resources//images/go-to-under.png" alt="#" /></a>
            </p>
        </aside>
    </div>
</body>
</html>